* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Body */
body {
    background-color: #0f172a;
    color: #e5e7eb;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    position: fixed;
    width: 100%;
    background: rgba(15, 23, 42, 0.9);
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #facc15;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #e5e7eb;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #facc15;
}

/* Hero */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #020617, #0f172a);
}


.hero h2 {
    font-weight: 300;
    font-size: 20px;
}

.hero h1 {
    font-size: 60px;
    color: #facc15;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    border: 1px solid #facc15;
    color: #facc15;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background-color: #facc15;
    color: #020617;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 50px;
}

.hero-content {
    width: 85%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    gap: 80px;
}

/* Foto */
.hero-image img {
    width: 420px;
    height: 480px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #facc15;
    box-shadow: 0 0 40px rgba(250, 204, 21, 0.3);
}

/* Section */
.section {
    padding: 80px;
    text-align: center;
}

.dark {
    background-color: #020617;
}

.section-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: #facc15;
}

.section-desc {
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
}

/* Skills */
.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.skill-card {
    padding: 20px 40px;
    border: 1px solid #334155;
    text-align: center;
    background-color: #020617;
    transition: 0.3s;
}

.skill-card:hover {
    border-color: #facc15;
    transform: translateY(-5px);
}


/* Projects */
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}


.project-card {
    background-color: #020617;
    padding: 30px;
    border: 1px solid #334155;
    transition: 0.3s;
}

.project-card:hover {
    border-color: #facc15;
    transform: translateY(-8px);
}


/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background-color: #020617;
    color: #94a3b8;
}

.contact-link {
    color: #facc15;
    text-decoration: none;
    font-weight: 500;
}

.contact-link:hover {
    text-decoration: underline;
    color: #fde047;
}
